.city-name {
  text-align: center;
  padding: 20px 20px 0 20px;
  font-size: 3em;
  letter-spacing: 10px;
  font-weight: 900;
  color: white;
  text-shadow: hsl(271, 36%, 82%) 2px 0px 2px, hsl(271, 36%, 82%) 0px 2px 2px,
    hsl(271, 36%, 82%) 0px -2px 2px, hsl(271, 36%, 82%) -2px 0px 2px;
}
.search-holder {
  text-align: center;
  margin: 20px 0;
}

.text-box-search-holder {
  width: 321px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  height: 38px;
}

.btn-light {
  background-color: #ffe3ff;
  border: 1px solid hsl(271, 36%, 82%);
  box-shadow: 4px 6px 2px hsl(271, 36%, 82%);
  color: #73619e;
}

.first-weather-icon {
  width: 50px;
  color: #a077b8;
}

.current-day-weather {
  text-align: center;
  font-size: 1.2em;
  font-weight: 1000;
  padding: 20px;
}
.current-day,
.current-temp,
.description {
  font-size: 1.4em;
}

.description {
  text-transform: capitalize;
}

.unit {
  font-size: 20px;
  position: relative;
  top: -6px;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}
a:link {
  color: #d59bf6;
}

a:focus {
  background-color: #ffe3ff;
  color: hsl(271deg 100% 80%);
  border-radius: 5px;
  box-shadow: 4px 6px 2px hsl(271, 36%, 82%);
}

a:hover {
  border-bottom: 1px solid;
  background: white;
  border-radius: 5px;
}

a:active {
  background: #d59bf6;
  color: white;
}

.inspiration-message {
  text-align: center;
  background-color: #fcffff;
  padding: 16px;
  border-radius: 4px;
  margin-right: 32px;
  box-shadow: 4px 6px 2px hsl(271, 36%, 82%);
}

.message-inspiration {
  color: #d59bf6;
  margin-top: 62px;
  font-size: 1.2em;
}

.col-2 {
  margin: 0;
  border-radius: 10px;
  background-color: #ffe3ff;
  border: 1px solid hsl(271, 36%, 82%);
  box-shadow: 4px 6px 2px hsl(271, 36%, 82%);
  padding: 5px;
  color: white;
  font-weight: 900;
  font-size: medium;
  text-shadow: hsl(271deg 100% 80%) 2px 0px 2px, hsl(271deg 36% 82%) 0px 2px 2px,
    hsl(271deg 36% 82%) 0px -2px 2px, hsl(271deg 36% 82%) -2px 0px 2px;
}
.col-2:hover {
  color: #d59bf6;
  background-color: #f9fafb;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  text-shadow: none;
  cursor: pointer;
}

.icon-weather {
  color: hsl(271deg 100% 80%);
}

.open-sourse-code-link {
  text-align: center;
}

.body-app {
  max-width: 520px;
  max-height: 632px;
  padding: 0;
  margin: 30px auto;
  background: linear-gradient(
    59deg,
    rgba(222, 167, 255, 0.6459945820433437) 0%,
    rgba(155, 218, 222, 0.65) 50%,
    rgba(252, 255, 192, 0.65) 100%
  );

  color: hwb(258deg 38% 38%);
  text-align: center;
  font-family: "Arima", cursive;
  flex-direction: column;
  border: 1.5px solid #d3c1e2;
  box-shadow: 8px 6px 2px hsl(271deg 36% 82% / 35%);
}
